@import url('/css/common.css');

button {
  border: 0px;
  cursor: pointer;
  border-radius: 15px;
  padding: 10px;
  width: auto;
  font-size: 4rem;
  color: white;
}
:host button {
  max-width: unset;
}
#play {
  background-color: var(--play-bg);
}

#stop {
  background-color: var(--stop-bg);
}