@import url(/css/fontawesome.min.css);

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

:root {
  --border: #777;
  --focus: blue;
  --input-border: 1px solid var(--border);
  --focus-border: 2px solid var(--focus);
  --select-arrow: var(--border);
  --control-border: 1px solid#ccc;
  --border-radius: 5px;
  --background: white;
  --footbik-color: #5A4F93;
  --text: black;
  --stop-bg: #C82333;
  --play-bg: #27A444;
}

.show {
  display: inherit;
  animation: show 1s ease-in-out 1;
}

.hide {
  display: none !important;
  animation: hide 1s ease-in-out 1;
}

.animateWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.animateWrapper.open {
  grid-template-rows: 1fr;
}

.animateWrapper>div {
  overflow: hidden;
}