@import url(/css/fontawesome.min.css);

@keyframes hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

:root {
  --border: #777;
  --focus: blue;
  --input-border: 1px solid var(--border);
  --focus-border: 2px solid var(--focus);
  --select-arrow: var(--border);
  --control-border: 1px solid#ccc;
  --border-radius: 5px;
  --background: white;
  --footbik-color: #5A4F93;
  --text: black;
  --stop-bg: #C82333;
  --play-bg: #27A444;
}

.show {
  display: inherit;
  animation: show 1s ease-in-out 1;
}

.hide {
  display: none !important;
  animation: hide 1s ease-in-out 1;
}

.animateWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-in-out;
}

.animateWrapper.open {
  grid-template-rows: 1fr;
}

.animateWrapper>div {
  overflow: hidden;
}

input,
button {
  max-width: 150px;
  border: var(--control-border);
  outline: none;
  border-radius: var(--border-radius);
  min-height: 2rem;
  margin: 0px;
}
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  display: grid;
  background-color: var(--footbik-color);
  padding: 5px 5px;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top {
  align-self: start;
}

i:hover {
  cursor: pointer;
}

.fa-xl {
  line-height: unset;
}

.fa-xmark,
.fa-trash-can {
  color: #C82333;
}

input[type='text'],
input[type='password'],
button {
  border: var(--input-border);
  font-size: 1.25rem;
  max-width: 150px;
}

input[type='text']:focus,
input[type='password']:focus,
button:focus {
  border: var(--focus-border);
}