@import url('/css/common.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
    display: grid;
    background-color: var(--footbik-color);
    padding: 5px 5px;
  }
  
  header>div {
    justify-self: center;
    min-width: 100%;
  display: flex;
  justify-content: center;
}

footer {
  display: grid;
    grid-area: footer;
    grid-template-areas: 'info admin';
  padding: 10px;
  border-top: 1px solid #aaa;
}

a.fa-house {
  text-decoration: none;
}

.clubInfo {
  grid-area: info;
}

.goToAdmin {
  grid-area: admin;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'buttons'
    'footer';
  height: 100%;
}

#channelsWrapper {
  display: grid;
  row-gap: 8px;
  grid-template-columns: 1fr;
  /* justify-content: start; */
}

.content {
  grid-area: buttons;
  align-self: center;
}

.goToAdmin {
  cursor: pointer;
  justify-self: end;
  white-space: pre;
  min-width: 12ch;
  color: var(--background);
}

.goToAdmin:hover {
  color: var(--text);
}

input,
button {
  max-width: 150px;
  border: var(--control-border);
  outline: none;
  border-radius: var(--border-radius);
  min-height: 2rem;
  margin: 0px;
}

select {
  /* Set the width and height as desired */
  min-width: 200px;
  width: fit-content;
  height: auto;
  /* Customize background, text, and border colors */
  background-color: #f2f2f2;
  color: #333;
  border: var(--control-border);
  border-radius: var(--border-radius);
  /* Customize padding to give some space around the text */
  padding: 5px;
  font-size: 1.25rem;
}

/* Style the dropdown arrow (caret) */
select::after {
  /* The content attribute is used to display the arrow symbol (▼) */
  content: "▼";
  /* Adjust position and size as needed */
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  /* Customize the arrow color */
  color: #333;
}

.item-left {

  margin-right: auto;
}

/* Style the options in the dropdown */
select option {
  /* Customize the background, text, and hover colors */
  background-color: #fff;
  color: #333;
}

/* Style the selected option */
select option:checked {
  /* Customize the background and text colors for the selected option */
  background-color: #007bff;
  /* Example: blue color */
  color: #fff;
  /* Example: white color */
}

input[type='text'],
input[type='password'],
button,
textarea {
  border: var(--input-border);
  font-size: 1.25rem;
  max-width: 150px;
}

textarea {
  max-width: 50%;
}

input[type='text']:focus,
input[type='password']:focus,
button:focus {
  border: var(--focus-border);
}

select:focus+.focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: var(--focus-border);
  border-radius: var(--border-radius);
}

button:focus {
  border: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input[type="button"] {
  cursor: pointer;
  border: 1px solid var(--select-border);
}

#qrText {
  grid-area: text;
    width: 70%;
  max-width: unset;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

#qrCreate {
  grid-area: button;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

#qrWrapper {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(#fff, #5A4F93);
  justify-content: center;
  align-items: center;
  visibility: collapse;
  z-index: 10;
}

#qrImg {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px 10px #fffe;
  height: 100%;
  width: auto;
}

#qrSave {
  height: 80%;
  width: auto;
}

#qrClose {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  transition: all .2s ease-in-out;
}

#qrClose:hover {
  transform: scale(1.5, 1.5);
}

#qrClose:before,
#qrClose:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: white;
}

#qrClose:before {
  transform: rotate(45deg);
}

#qrClose:after {
  transform: rotate(-45deg);
}

#channelButtons {
  display: grid;
  row-gap: 10px;
    grid-template-columns: repeat(2, auto);
  align-items: center;
  width: 100%;
}

channel-button {
  justify-self: center;
}


.headerIcon {
  color: white;
  cursor: pointer;
  padding: 2px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.top{
  align-self: start;
}
i:hover {
  cursor: pointer;
}

.fa-xl {
  line-height: unset;
}

#editor,
#settingsForm {
  margin: 4px auto;
  width: 85%;
}

#editor #itemsEditorSave {
  margin-left: auto;
  margin-top: 4px;
}

#playButtonsTemplate,
#channelTemplate {
  display: none;
}

.fancy-checkbox input[type="checkbox"],
.fancy-checkbox .checked {
  display: none;
  aspect-ratio: 1;
}

.fancy-checkbox input[type="checkbox"]:checked~.checked {
  display: inline-block;
}

.fancy-checkbox input[type="checkbox"]:checked~.unchecked {
  display: none;
}

.fancy-checkbox {
  flex: unset;
  aspect-ratio: 1;
}

input[id^='ch_'] {
  flex: 1 2 auto;
}

input[id^='ch_port'] {
  max-width: 7ch;
}

input[id^='ch_ip'] {
  max-width: 15ch;
}

input[id^='ch_url'] {
  max-width: unset;
  flex-grow: 2;
}

input[id^='ch_key'] {
  max-width: 25ch;
  width: fit-content;
}

#chLoginPassSpoiler {
  position: relative;
}

#chLoginPassSpoiler,
#loginPassSpoiler {
  margin-right: auto;
}

.break.height {
  height: 8px !important;
}



#restartWebServer {
  margin-left: 8px;
}

.fa-xmark,
.fa-trash-can {
  color: #C82333;
}


@media screen and (max-width:800px) {
  #playButtonsWrapper {
    grid-auto-flow: row;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  }
}